$mainFontFamily: 'Open Sans', Poppins, 'Times New Roman';
$maxWidthContainer: 80rem;
$mainFontSize: 1rem;
$mainColorText: #646464;
$secondColorTitle: #212121;
$buttonTextColor: #fff;
$whiteColor: #fff;
$buttonColorBackground: #37806B;